#home {
    padding-left: 240px;
}

@media screen and (max-width: 990px) {
    #home {
        padding-left: 0;
    }

}

.user-info {
    margin-top: 20px;
}

.add-profil,
.logout-button {
    margin-top: 20px;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    z-index: 999;
    padding-top: 64px;
}

.top-nav {
    height: 100%;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.error {
    color: red;
}

p.error {
    color: red;
}

.switches {
   color: #26a69a; 
}